<a href="https://colab.research.google.com/github/windi-wulandari/my-skill-course-python/blob/main/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# What is String?

In [ ]:
"myskill" or 'myskill'

'myskill'

In [ ]:
print("myskill providing course"[9])
print("aditya pramana putra"[-20])

r
a

## Create String

In [ ]:
# Creating a String
# with single Quotes
String1 = 'Welcome to MySkill'
print("String with the use of Single Quotes: ")
print(String1)

# Creating a String
# with double Quotes
String1 = "I'm Jon"
print("\nString with the use of Double Quotes: ")
print(String1)

# Creating a String
# with triple Quotes
String1 = '''I'm MySkill Student And I develop "Skill"'''
print("\nString with the use of Triple Quotes: ")
print(String1)

string2 = '''i'm to talk about, how much salary in job "Data Analiyst"'''
print (string2)

# Creating String with triple
# Quotes allows multiple lines
String1 = '''
              MySkill
              For
              Life'''
print("\nCreating a multiline String: ")
print(String1)

string2 = '''
              Aditya
              Pramana
              Putrs'''
print(string2)

String with the use of Single Quotes:
Welcome to MySkill

String with the use of Double Quotes:
I'm Jon

String with the use of Triple Quotes:
I'm MySkill Student And I develop "Skill"
i'm to talk about, how much salary in job "Data Analiyst"

Creating a multiline String:

              MySkill
              For
              Life

              Aditya
              Pramana
              Putrs

# Access Character in Python String

In [ ]:
String1 = "MySkill"
print("Initial String: ")
print(String1)

# Printing First character
print("\nFirst character of String is: ")
print(String1[0])

# Printing Last character
print("\nLast character of String is: ")
print(String1[-1])

Initial String:
MySkill

First character of String is:
M

Last character of String is:
l

## Reverse String

Dengan Mengakses Karakter dari sebuah string, kita juga dapat membalikkannya. Kita dapat Membalikkan string dengan menulis [::-1] dan string akan dibalik.

In [ ]:
#Program to reverse a string
msk = "myskill"
print(msk[::-1])

balik_nama = "aytida"
print(balik_nama[::-1])

lliksym
aditya

In [ ]:
msk = "myskill"

# Reverse the string using reversed and join function
msk = "".join(reversed(msk))

print(msk)

balik_nama = "aytida"
balik_nama = "".join(reversed(balik_nama))
print(balik_nama)

lliksym
aditya

## String Slicing

Untuk mengakses berbagai karakter dalam String, metode slicing digunakan. Mengiris dalam sebuah String dilakukan dengan menggunakan operator Slicing (titik dua).

In [ ]:
# Creating a String
String1 = "ADITYA PRAMANA PUTRA"
print("Initial String: ")
print(String1)

# Printing 3rd to 12th character
print("\nSlicing characters from 3-12: ")
print(String1[3:8])

# Printing characters between
# 3rd and 2nd last character
print("\nSlicing characters between " +
	"3rd and 2nd last character: ")
print(String1[3:-1])

print(String1[-1])
print(String1[:])

Initial String:
ADITYA PRAMANA PUTRA

Slicing characters from 3-12:
TYA P

Slicing characters between 3rd and 2nd last character:
TYA PRAMANA PUTR
A
ADITYA PRAMANA PUTRA

## Delete and Update String

## Update Character

In [ ]:
# Python Program to Update
# character of a String

String1 = "ADITIA PRAMANA PUTRA"
print("Initial String: ")
print(String1)

# Updating a character of the String
## As python strings are immutable, they don't support item updation directly
### there are following two ways
#1
list1 = list(String1)
list1[4] = 'Y'
String2 = ''.join(list1)
print("\nUpdating character at 2nd Index: ")
print(String2)

#2
String3 = String1[0:4] + 'Y' + String1[5:]
print(String3)

Initial String:
ADITIA PRAMANA PUTRA

Updating character at 2nd Index:
ADITYA PRAMANA PUTRA
ADITYA PRAMANA PUTRA

## Update Entire String

In [ ]:
String1 = "Hello, I'm Faras"
print("Initial String: ")
print(String1)

# Updating a String
String1 = "Welcome to MySkill"
print("\nUpdated String: ")
print(String1)

Initial String:
Hello, I'm Faras

Updated String:
Welcome to MySkill

## Delete Character

In [ ]:
String1 = "ADITYYA PRAMANA PUTRA"
print("Initial String: ")
print(String1)

# Deleting a character
# of the String
String2 = String1[0:5] + String1[6:]
print("\nDeleting character at 2nd Index: ")
print(String2)

Initial String:
ADITYYA PRAMANA PUTRA

Deleting character at 2nd Index:
ADITYA PRAMANA PUTRA

## Deleting Entire String

In [ ]:
String1 = "Welcome to MySkill"
print("Initial String: ")
print(String1)


# Deleting a String
# with the use of del


del String1
print("\nDeleting entire String: ")
print(String1)

Initial String:
Welcome to MySkill

Deleting entire String:

NameError: ignored

# Escape Sequence in Python

In [ ]:
# Initial String
String1 = '''I'm "Smart"'''
print("Initial String with use of Triple Quotes: ")
print(String1)

# Escaping Single Quote
String1 = 'I\'m very "tired" with you'
print("\nEscaping Single Quote: ")
print(String1)

# Escaping Double Quotes
String1 = "I'm very \"Tired\" with you"
print("\nEscaping Double Quotes: ")       #note : kasih tanda \ dlu baru tanda yang ingin kita tetapkan
print(String1)

# Printing Paths with the
# use of Escape Sequences
String1 = "C: Https:\\\Aditya\\Channel\\.com"
print("\nEscaping Backslashes: ")
print(String1)

# Printing Paths with the
# use of Tab
String1 = "Note:\t Jika ada sesuatu.."
print("\nTab: ")
print(String1)

# Printing Paths with the
# use of New Line
String1 = "Nama\nNIM"
print("\nNew Line: ")
print(String1)

Initial String with use of Triple Quotes:
I'm "Smart"

Escaping Single Quote:
I'm very "tired" with you

Escaping Double Quotes:
I'm very "Tired" with you

Escaping Backslashes:
C: Https:\\Aditya\Channel\.com

Tab:
Note:	 Jika ada sesuatu..

New Line:
Nama
NIM

# Formatting in String

In [ ]:
# Default order
String1 = "{} {} {}".format('MySkill', 'For', 'Learning')
print("Print String in default order: ")
print(String1)

nama_gw = "{} {} {}".format('Aditya','Pramana','Putra')
print(nama_gw)

# Positional Formatting
String1 = "{1} {0} {2}".format('MySkill', 'For', 'Learning')
print("\nPrint String in Positional order: ")
print(String1)

nama_gw = "{2} {1} {0}".format('Aditya','Pramana','Putra')
print(nama_gw)


# Keyword Formatting
String1 = "{l} {f} {g}".format(g='MySkill', f='For', l='Learning')
print("\nPrint String in order of Keywords: ")
print(String1)

nama_gw = "{a} {b} {c}".format(a='Aditya',b='Pramana',c='Putra')
print(nama_gw)

Print String in default order:
MySkill For Learning
Aditya Pramana Putra

Print String in Positional order:
For MySkill Learning
Putra Pramana Aditya

Print String in order of Keywords:
Learning For MySkill
Aditya Pramana Putra

Bilangan bulat seperti Biner, heksadesimal, dll., dan float dapat dibulatkan atau ditampilkan dalam bentuk eksponen dengan menggunakan penentu format.

In [ ]:
# Formatting of Integers
String1 = "{0:b}".format(16)
print("\nBinary representation of 16 is ")
print(String1)

# Formatting of Floats
String1 = "{0:e}".format(165.6458)
print("\nExponent representation of 165.6458 is ")
print(String1)

# Rounding off Integers
String1 = "{0:.2f}".format(23/400)
print("\none-sixth is : ")
print(String1)

Binary representation of 16 is
10000

Exponent representation of 165.6458 is
1.656458e+02

one-sixth is :
0.06

Sebuah string dapat dibiarkan () atau tengah (^) dibenarkan dengan penggunaan penentu format, dipisahkan oleh titik dua (:).

In [ ]:
# String alignment
String1 = "|{:<1}|{:^1}|{:>1}|".format('MySkill','for','Learning')
print("\nLeft, center and right alignment with Formatting: ")
print(String1)

# To demonstrate aligning of spaces
String1 = "\n{0:^16} was founded in {1:<4}!".format("MySkillForLearning",
													2021)
print(String1)

Left, center and right alignment with Formatting:
|MySkill|for|Learning|

MySkillForLearning was founded in 2021!

Pemformatan gaya lama dilakukan tanpa menggunakan metode format dengan menggunakan % operator

In [ ]:
Integer1 = 12.3456789
print("Formatting in 3.2f format: ")
print('The value of Integer1 is %3.2f' % Integer1)
print("\nFormatting in 3.4f format: ")
print('The value of Integer1 is %1.1fd' % Integer1)

print('The value of Integer1 is %3.3f' % Integer1)

Formatting in 3.2f format:
The value of Integer1 is 12.35

Formatting in 3.4f format:
The value of Integer1 is 12.3
The value of Integer1 is 12.346